[color-mode="dark"],
[color-mode="light"],
:root {
  --dark-rgb: 19, 3, 29;
  --dark: rgba(var(--dark-rgb), 1);
  --dark-90: rgba(var(--dark-rgb), 0.9);
  --dark-75: rgba(var(--dark-rgb), 0.75);
  --dark-50: rgba(var(--dark-rgb), 0.5);
  --dark-25: rgba(var(--dark-rgb), 0.25);
  --dark-10: rgba(var(--dark-rgb), 0.1);

  --light-rgb: 235, 250, 255;
  --light: rgba(var(--light-rgb), 1);
  --light-90: rgba(var(--light-rgb), 0.9);
  --light-75: rgba(var(--light-rgb), 0.75);
  --light-50: rgba(var(--light-rgb), 0.5);
  --light-25: rgba(var(--light-rgb), 0.25);
  --light-10: rgba(var(--light-rgb), 0.1);

  --ol-secondary: rgb(22, 171, 182);
  --ol-secondary-text: var(--dark);
  --ol-primary: rgb(255, 208, 0);
  --ol-primary-text: var(--dark);

  --ol-background-rgb: var(--light-rgb);
  --ol-background: var(--dark);
  --ol-background90: var(--dark-90);
  --ol-background75: var(--dark-75);
  --ol-background50: var(--dark-50);
  --ol-background25: var(--dark-25);
  --ol-background10: var(--dark-10);

  --ol-foreground-rgb: var(--light-rgb);
  --ol-foreground: var(--light);
  --ol-foreground90: var(--light-90);
  --ol-foreground75: var(--light-75);
  --ol-foreground50: var(--light-50);
  --ol-foreground25: var(--light-25);
  --ol-foreground10: var(--light-10);
}

[color-mode="light"] {
  --ol-foreground-rgb: var(--dark-rgb);
  --ol-foreground: var(--dark);
  --ol-foreground90: var(--dark-90);
  --ol-foreground75: var(--dark-75);
  --ol-foreground50: var(--dark-50);
  --ol-foreground25: var(--dark-25);
  --ol-foreground10: var(--dark-10);
  --ol-background-rgb: var(--light-rgb);
  --ol-background: var(--light);
  --ol-background90: var(--light-90);
  --ol-background75: var(--light-75);
  --ol-background50: var(--light-50);
  --ol-background25: var(--light-25);
  --ol-background10: var(--light-10);
}
